@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

body {
  background-image: url(../images/hp1.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-size: larger;
  font-family: 'Schoolbell', cursive;
  margin-left: 100px;
}
/**
*   Below adds styling to main content of mainpage with focus on centering and font styling some basic styling 
    structure inspired by Fantacy Designs with personal editing and design
**/

.quiz-container {
  border-radius: 10px;
  width: 600px;
  overflow: hidden; 
}

.quiz-header {
  padding: 4rem;
  background-color: #180346;
}

h1 {
  text-align: center;
  margin: 20px;
    margin-top: 0px;
    margin-right: 20px;
  position: fixed;
  margin-top: -650px;
  color: #c2b7f7;
  font-family: 'Schoolbell', cursive;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
  color: #c2b7f7;
}

ul {
  list-style-type: none;  
  padding: 0;
  text-align: center;
  color: #c2b7f7;
}

ul li {
  font-size: 25px;  
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}
/**
*  Gradient effect generated by ColorSpace
**/
button {
  background-image: radial-gradient(circle, #6569be, #5859b8, #4b4ab1, #3e3aa9, #3129a1, #292096, #21168b, #170b80, #120970, #0d0760, #090551, #090042);  border: none
  ;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1.3rem;
  font-weight: bold;
  color: #b6b5d5;
  border: 20px;
}

/**
*   Below adds styling and responsive effects on buttons and timer
**/

button:hover {
  background-color: #732d91;
}

button:focus {
  outline: none;
  background-color: #5e3370;
}

.fa-solid, .fas {
  font-weight: 900;
  padding: 25px;
}

#count {
  position: fixed;
  padding-top: 650px; 
}

/* --------- Media queries */

@media (max-width: 844px) {
    body {
      width: fit-content;
      margin: 0;
    }
  
    .quiz-container {
      width: fit-content;
      margin-left: 55px;
    }
  
    .quiz-header {
      width: fit-content;
    }
  
    #count {
      color: whitesmoke;
    }
  
    ul {
      padding-left: 150px;
    }
  
    button {
      margin-left: 0px;
    }
  
    h1, h2, ul, label {
      width: fit-content;
      text-align: center;
    }
  
    }
  
    @media (max-width: 390px) {
      .quiz-container {
        width: fit-content;
        height: 75%;
        width: 90%;
        margin: 0;
      }
    
      .quiz-header {
        width: fit-content;
        font-size: 16px;
        padding-top: 0; 
      }
  
      h1 {
        padding-bottom: 150px;
        font-size: 21px;
        padding-top: 100px;
      }
  
      button {
        margin-left: 0;
      }
  
      #count {
        color: whitesmoke;
        padding-top: 400px;
      }
    
      h2, label{
        width: fit-content;
        text-align: center;
      }
  
      ul {
        width: fit-content;
        text-align: center;
        padding-left: 0;
      }
  
      body {
        width: fit-content;
        margin: 0;
      }
    
    }